doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='https://www.w3schools.com/lib/w3-colors-highway.css')
    link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-dark-grey.css")
  body
      block head
      block button_panel
      div(class="w3-margin")
          block book_list
      div(class="w3-margin")
          block add_book